@use './mixins' as m;
@use './variables' as *;

// headerスタイル
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background: rgba(255,230,230,0.9);
  z-index: 200;
}

.header-logo-menu {
  display: flex;
  flex-direction: row;//おまけ
  justify-content: space-between;
}

// サイトロゴ
.logo-area {
  width: 200px;
  margin: 0;
  text-align: left;
}

// ハンバーガーメニュー
.gnav-toggle {
  position: relative;
  margin-top: 12px;
}

.gnav-hidden {
  display: none;
}

#gnav-open {
  display: inline-block;
  width: 33px;
  height: 22px;
  vertical-align: middle;
  cursor: pointer;

  span,
  span::before,
  span::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: #555;
    display: block;
  }

  span::before {
    bottom: -8px;
  }
  span::after {
    bottom: -16px;
  }
}

#gnav-close {
  position: fixed;
  background: #000;
  // inset: 0;/* top: 0, left: 0, right: 0, bottom: 0; */
  opacity: 0;
  // display: none;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  transition:
    opacity .5s ease-in-out;
}

#gnav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  width: 70%;
  max-width: 300px;
  height: 100%;
  background: rgba(0 0 0/.8);
  transition: .3s ease-in-out;
  transform: translateX(-105%);
  // translate: -105% 0;
}

#gnav-input:checked ~ #gnav-content {
  transform: translateX(0%);
}

#gnav-input:checked ~ #gnav-close {
  opacity: 0.5;
  width: 100%;
  height: 100%;
  z-index: 90;
}

.gnav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  text-transform: uppercase;
}

.gnav-item {
  border-bottom: 2px dotted #eee;
  margin: 10px;
  padding-bottom: 20px;

  a {
    color: #fff;
    font-size: 12px;
    display: block;
    width: 200px;
    text-align: center;

    &::first-line {
      font-size: 16px;
      font-weight: bold;
    }
  }
}

// PC用ヘッダー
@include m.mq {
  // ロゴ
  .logo-area {
    width: 250px;
  }

  // ナビゲーション
  .gnav-menu {
    flex-direction: row;
    padding-top: 15px;
    margin: 0;

    a {
      color: #333;
      width: 120px;

      &:hover {
        color: $color-primary;
      }
    }
  }

  .gnav-item {
    border-bottom: none;
    margin: 0;
    padding: 0;
  }
}

// メインビジュアル
.mv-area {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mv-title {
  color: #fff;
  margin-top: 70px;
  text-shadow:
    0 0 3px #333;
  // x軸オフセット y軸オフセット ぼかし 色
}

@include m.mq {
  .mv-area {
    width: 100%;
    height: 600px;
  }

  .mv-title {
    margin-top: 90px;
  }
}

// レンタルスペース紹介
.info-area {
  background-color: $color-primary;
}
.info-txt {
  color: #fff;
}

@include m.mq {
  .info-content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .info-txt {
    flex: 1; // flex-grow: 1;
    margin-left: 30px;
  }
  .info-area img {
    flex: 1;
  }
}