@charset 'utf-8';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}

ul {
  background: #37bd82;
  text-align: center;
}

ul li {
  display: inline-block;
  position: relative;
}

ul li a {
  display: block;
  padding: 1em;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

ul li a::after {
  content: url(../img/arrow.png);
  margin-left: 10px;
  vertical-align: middle;
}

ul li a:hover {
  background: #2c9869;
}

/* サブリスト */
ul.sub-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
}

/*
ul.gnav-list li a:hover + ul.sub-list {
  display: block;
}
*/

ul.gnav-list li:hover > ul.sub-list {
  display: block;
}

ul.sub-list li {
  width: 100%;
}

main div {
  background: #eee;
  height: 80vh;
  width: 90%;
  margin: 0 auto 40px;
}