@use '../mixins' as *;

.news-article {
  margin-top: 20px;
  max-width: 800px;

  .news-eyecatch {
    text-align: center;
  }

  h2 {
    font-size: 22px;
    line-height: 1.4;
    margin-bottom: 0.5em;
  }

  time {
    font-size: 12px;
  }

  h3, h4 {
    margin-top: 2em;
    margin-bottom: 0.5em;
  }

  h3 {
    font-size: 19px;
  }

  h4 {
    font-size: 17px;
  }

  figure {
    text-align: center;
    margin: 0;
  }

  figcaption {
    font-size: 14px;
  }

  blockquote {
    border-left: 5px solid #dcd6cb;
    margin-left: 0;
    padding-left: 0.8em;
  }

  ul, ol {
    padding-left: 1.5em;
  }

  ul {
    list-style: disc;
  }
}

@include mq {
  .news-article {
    h2 {
      font-size: 24px;
    }

    time {
      font-size: 14px;
    }
  }
}