@use './mixins' as *;

// ヘッダー
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px 15px 10px;
  position: relative;
  z-index: 100;
}

.header-button {
  position: fixed;
  width: 75px;
  height: 75px;
  top: 0;
  right: 0;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  .icon,
  .icon::before,
  .icon::after {
    transition: .3s;
  }

  .icon {
    display: block;
    width: 24px;
    height: 2px;
    background: #eee;
    position: relative;
  }
  .icon::before,
  .icon::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: #eee;
    left: 0;
  }

  .icon::before {
    top: -8px;
  }
  .icon::after {
    top: 8px;
  }

  // bodyにactiveが追加された時
  body.active & .icon {
    background: transparent;
  }
  body.active & .icon::before,
  body.active & .icon::after {
    top: 0;
    background: #000;
  }
  body.active & .icon::before {
    transform: rotate(45deg);
  }
  body.active & .icon::after {
    transform: rotate(-45deg);
  }

}

.header-gnav {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  background: rgba(255 255 255/0.9);
  transform: translateX(105%);
  transition: .3s ease;

  body.active & {
    transform: translateX(0);
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin: 0;
  }

  a {
    color: #333;
    font-weight: bold;
    font-size: 18px;
    display: block;
    padding: 0.8em;
  }
}

@include mq {
  .header-button {
    display: none;
  }
  .header-gnav {
    transform: translateX(0);
    position: static;
    background: none;

    ul {
      flex-direction: row;
      justify-content: flex-end;
    }
  }
}

@include mq(lg) {
  header {
    padding-top: 30px;
  }
  .header-logo {
    flex-shrink: 0;
  }
  .header-logo img {
    width: 360px;
  }
}


// フッター
footer {
  margin: 70px 0 10px;
  text-align: center;

  small {
    color: purple;
  }
}